extends ../index.jade

block div
  if !user
    div
      h1 Please Login!
  else
    div
      form(action='delete' method='POST')
        p
          input(type='password' placeholder='password' name='password')
        p
          input(type='submit')
