doctype html
html
  head
    meta(charset='utf-8')
    title nodejs_Self_Study
    head
      include ./head.jade
  body
    block div
      ul
        li
          a(href='auth/login') login
        li
          a(href='auth/register') register
        li
          a(href='auth/replace') replace
        li
          a(href='auth/delete') delete
        li
          a(href='auth/facebook') facebook
        li
          a(href='file/fileUpload') fileUpload
        li
          a(href='file/textFiling') textFiling
        li
          a(href='cookie/cart') cart
